APP_NAME=TaskPilot
APP_ENV=development
DEBUG=false



DB_NAME=database name
DATABASE_USER=database user
DATABASE_PASSWORD=database password

DATABASE_URL=postgresql://database user:database password@localhost:5432/database name

LOG_LEVEL=INFO